---
layout: layout.njk
---
<h1 class="title">Praise Lord Vaati!</h1><br>
<h2 class="title">ゼルダの伝説 ふしぎのぼうし</h2><br>

<img src="/assets/2.jpg">

<p>This site is under construction! <a href="https://github.com/olvaati/vaati.dev">GitHub</a></p>