---
title: Order of Lord Vaati
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            @font-face { font-family: 'reggae'; src: url(/assets/ReggaeOne-Regular.ttf); }
            .title { font-family: 'reggae'; }
            h1,h2,h3,
            p,a,span {
                text-align: center;
                margin: 0;
                padding: 0;
                color: white;
            }
            body { background-color: #1C0A38; }
            img { 
                display: block;
                margin:auto; 
            }

            a:visited {
                color:white;
            }
        </style>
    </head>
    <body>{{content|safe}}</body>
</html>